* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  text-transform: capitalize;
}

body {
  background: #1a1a1a;
  color: #fff;
  height: 100vh;
  overflow: hidden;
}

/* Ocultar cursor */
body.ocultar-cursor {
  cursor: none;
}


.totem {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

/* === OFERTA DA SEMANA === */
.oferta {
  width: 25%;
  height: 100vh; /* ou altura fixa como 900px se preferir */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  background: linear-gradient(to bottom, #5e4c2e, #2f2b1f);
  border-right: 4px solid #ffe600;
  box-sizing: border-box;
}


.oferta h2 {
  background: #d00000;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 1.8em;
  box-shadow: 0 0 10px #000;
}

.oferta-img {
  background: transparent;
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  height: 220px; /* Altura fixa para manter a área constante */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Importante: evita vazamentos da imagem */
}

.oferta-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 🔥 Preenche 100% da div */
  border-radius: 10px;
}



.oferta-desc {
  margin-top: 10px;
  padding: 12px;
  background: #ffe600c1;
  border-radius: 10px;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  color: #fff;
}

.oferta-desc h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  margin-bottom: 8px;
}


.oferta-desc .preco {
  font-size: 2.5rem;
  font-weight: bold;
  color: #d00000; /* Verde para o preço novo */
  position: relative;
}


/* === TABELAS === */
.tabelas {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: flex-start; */
  background: linear-gradient(to bottom, #1f1f1f, #000);
  padding: 20px;
  gap: 20px;
}

.tabela {
  flex: 1;
  background: rgba(255, 255, 255, 0.05);
  padding: 15px;
  border-radius: 15px;
  backdrop-filter: blur(4px);
  box-shadow: 0 0 10px #000;
}

.tabela h2 {
  text-align: center;
  font-size: 1.5rem; /*1.6*/
  margin-bottom: 10px;
  background: #ffe600;
  color: #000;
  padding: 6px; /*8px*/
  border-radius: 6px; /*8px*/
  box-shadow: 0 2px 4px #000;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.5rem; /*1.3*/
}

td {
  padding: 10px 5px;
  border-bottom: 1px solid #444;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 500;
}

td:first-child {
  text-align: left;
}

td:last-child {
  text-align: right;
  color: #ffe600;
  font-weight: bold;
}

/* === SLIDE LOGO === */
.logo-slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 100;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-slide.active {
  display: flex;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-grande {
  max-width: 90%;
  height: auto;
  margin-bottom: 20px;
}

.relogio {
  color: #fff;
  font-size: 3rem;
  text-align: center;
}

#btn-fullscreen {
  position: fixed;
  bottom: 20px;
  right: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  transition: opacity 0.3s ease;
  opacity: 0.5;
}

#btn-fullscreen:hover {
  opacity: 2;
}

#btn-fullscreen svg {
  pointer-events: none;
}

#qrcode-fixo {
  margin-top: auto;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
}

#qrcode-fixo img {
  width: 250px;
  height: 250px;
  background: transparent;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}
